.nav-pills .active{
    background-color: 3A4D3A !important;
    color:E7E4DF !important;
}
.nav-link{
    color:3A4D3A
}
.nav-link:hover {
    color:3A4D3A
}
.user_pp{
    color:3A4D3A
}
.aboutme_box{
    background-color: white;
    border-radius: 10px;
    border:solid 1.5px;
}
.input-group-text{
    background-color: 3A4D3A;
    color:E7E4DF;
    width:100px;
}
.q_body{
    height:350px
}